<ion-header>

  <ion-navbar color="green">
    <ion-title>Resultados de la búsqueda</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

    <ion-grid no-padding>
        <ion-row>
          <ion-col col-6 col-md-3 *ngFor="let album of arrayAlbums">
            <ion-card>
               <img [src]='album.image[2]["#text"]' [alt]="'Cover album ' + album.name" [title]="'Cover album ' + album.name" (click)="irDetalleAlbum(album);" >
                
              <ion-card-title>
                {{album.name}}
              </ion-card-title>
              
              <ion-card-content>
                <ion-row class="artista">
                  <span>{{album.artist}}</span>
                </ion-row>
                <ion-col *ngIf="!checkearFavorito(album)">
                    <button ion-button icon-only text-center color="" class="fav" (click)='toggleFavorito(album);'> 
                        <ion-icon ios="ios-star" md="md-star"></ion-icon>
                    </button>
                </ion-col>
                <ion-col *ngIf="checkearFavorito(album)">
                  <button ion-button icon-only text-center color="" class="del" (click)='toggleFavorito(album);'> 
                      <ion-icon ios="ios-close" md="md-close"></ion-icon>
                  </button>
              </ion-col>
              </ion-card-content>
            </ion-card>
            
            </ion-col>
        </ion-row>
      </ion-grid>

</ion-content>
<ion-footer>
    <ion-searchbar placeholder="Filtrar"></ion-searchbar>
</ion-footer>